<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../scss/my_shop_list_vue.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
              src="//code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app" class="container">
        <h2>{{ title }}</h2>
        <add-item-component @add="addItem"></add-item-component><!-- @add 의 add는 $emit() 의 첫번째 인자인가? @add 와 연결된 부모의 addItem methods 를 호출 -->
        <items-component :items="items"></items-component><!-- Vue 인스턴스의 data.items와 어떻게 연결이 되는건지? -->

        <div class="footer">
            <hr/>
            <change-title-component v-model="title"></change-title-component><!-- Vue 인스턴스의 data.title와 어떻게 연결이 되는건지? -->
        </div>
    </div>  
    
    <!-- 새로운 항목을 추가하는 템플릿 -->
    <template id="add-item-template">
        <div class="input-group">
            <input type="text" @keyup.enter="addItem" v-model="newItem" placeholder="add shopping list item" class='form-control'><!-- add-item-template 콤포넌트의 addItem methods 호출 -->
            <span class='input-group-btn'>
                <button @click="addItem" class="btn brn-default" type="button">Add!</button><!-- add-item-template 콤포넌트의 addItem methods 호출 -->
            </span>
        </div>
    </template>
    
    <!-- 항목을 나열하는 템플릿 -->
    <template id="items-template">
        <ul>
            <item-component v-for="(item, index) in items" :item="item" :key="index"></item-component><!-- :item=item 에서 앞 item은 자식콤포넌트에서 사용할 변수명이고 뒤 item은 부모 변수명 -->
        </ul>
    </template>

    <!-- 항목을 보여주는 템플릿 -->
    <template id="item-template">
        <li>
            <div :class="{'removed': item.checked }">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="item.checked"> {{ item.text }}
                    </label>
                </div>
            </div>
        </li>
    </template>

    <!-- 제목을 변경하는 템플릿 -->
    <template id="change-title-template">
        <div>
            <em>Change the title of your shopping list here</em>
            <input type="text" v-bind:value="value" v-on:input="onInput"><!-- value 값은 부모의 data.title 값과 연결이 되는데 어떻게 연결이 되는거지? -->
        </div>
    </template>
    <!-- <script src="../js/es5/my_shop_list_vue.js"></script> -->
    <script>
        var data = {
            items: [{ text: 'Bananas', checked: true }, { text: 'Apples', checked: false }],
            title: 'My Shopping List'
        };

        // 아이템 컴포넌트 추가
        Vue.component('add-item-component', {
            template: '#add-item-template',
            data: function() {
                return {
                    newItem: ''
                };
            },
            methods: {
                addItem: function () {
                    var text;

                    text = this.newItem.trim();
                    if (text) {
                        this.$emit('add', text);
                        this.newItem = '';
                    }
                }
            }
        });

        // 아이템 컴포넌트
        Vue.component('items-component', {
            template: '#items-template',
            props: ['items']
        });

        // 아이템 컴포넌트
        Vue.component('item-component', {
            template: '#item-template',
            props: ['item']
        });

        // 제목 컴포넌트 변경
        Vue.component('change-title-component', {
            template: '#change-title-template',
            props: ['value'],
            methods: {
                onInput: function(event) {
                    this.$emit('input', event.target.value);
                }
            }
        });

        new Vue({
            el: '#app',
            data: data,
            methods: {
                addItem: function (text) {
                    this.items.push({
                        text: text,
                        checked: false
                    });
                }
            }
        });
    </script>    
</body>
</html>